<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>student</title>
</head>
<body>
     <form action="http://127.0.0.1:5000/jawaban" method="post">
          <p>Name : <input type="text" name="Name"></p>
          <p>Fisika : <input type="text" name="Fisika"></p>
          <p>Kimia : <input type="text" name="Kimia"></p>
          <p>Matematika : <input type="text" name="Matematika"></p>
          <p><input type="submit" value="submit"></p>

     </form>
</body>
</html>